@import '../layouts/datatable';

.dashboardPage{
    h3, h4{
        color: #000;
    }
    
    h3{
        font-weight: 900;
        font-style: italic;
    }
    margin-top: 10px;

    thead > td{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-align: center !important;
    }

    .add-bus-btn{
        color: #fff;
        background-color: #0379be;
        display: inline-flex;
        float: right;
        margin-bottom: 15px;
        i{
            margin-right: 5px;
        }
    }

    #isFull{
        background-color: #E9153A;
        color: #fff;
        padding: 3px 9px;
        border-radius: 5px;
        font-weight: bold;
        box-shadow: 2px 2px 7px 0px #7b7b7b;
    }
    #notFull{
        background-color: #49B554;
        color: #fff;
        padding: 3px 9px;
        border-radius: 5px;
        font-weight: bold;
        box-shadow: 2px 2px 7px 0px #7b7b7b;
    }
}

#addOperationModal{
    select{
        width: 100%;
        border-radius: 5px;
        padding: 5px;
        border: 1px solid #C4C4C4;
        box-shadow: 0 0 10px 0px #C4C4C4;
    }

    #invalid-select{
        border: 1px solid #bd2626;
        box-shadow: 0 0 10px 0px #bd2626;
        &:focus{
            outline: none;
        }
    }
    
    .bus_err_msg, .route_err_msg, .driver_err_msg{
        color: #bd2626;
        margin-left: 5px;
        margin-top: 5px;
    }

    .submit-modal-btn{
        background-color: #0379be;
    }
}