@import '../layouts/datatable';
@import '../layouts/createPage';

.ReportManagerPage{

}

.viewReportPage{
    input{
        width: 100%;
        color: black;
    }
    textarea{
        border-radius: 5px;
        border: 2px solid #cccccc;
        padding: 5px 10px;
        width: 100%;
        color: black;
    }
    
    #resolve_btn{
        background-color: #22b573;
    }
}