body {
  font-family: Roboto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#sidebar {
  min-width: 270px;
  max-width: 270px;
  min-height: 100vh;
  background: #4e4a59;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#sidebar ul li > a {
  color: white;
}

.sidebar-bg {
  width: 100%;
  min-height: 150px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url("/imgs/sidebar-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url("/imgs/sidebar-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#sidebar.active {
  margin-left: -270px;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\E259';
  display: block;
  position: absolute;
  right: -178px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.8em;
}

a[aria-expanded="true"]::before {
  content: '\E260';
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
}

#content {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  overflow: hidden;
}

.content-heading {
  background-color: #0379be;
  width: 100%;
}

.menu-btn {
  border: 0;
  color: white !important;
  background-color: transparent;
  outline: none;
  margin: 10px 5px 10px 0px;
  font-size: larger;
  outline: 0 !important;
}

.desktop_profile {
  color: #fff;
  margin-top: 10px;
  border-left: 1px solid #f4f4f4;
}

.desktop_profile > li > a {
  color: #fff;
}

.desktop_profile:hover {
  background-color: transparent !important;
}

.nav > li > a {
  background-color: transparent !important;
}

.components {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
}

.components > a {
  text-decoration: none;
  outline: none;
}

.components > a > li {
  padding: 3px 5px 3px 20px;
  color: #82d0ff !important;
  text-decoration: none;
}

.components > a > li:hover {
  background: #565656;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.components .active > * {
  color: #10505f !important;
}

.components .active > li {
  background: #22aed1;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  padding-top: 0px;
}

.components .active > li:hover {
  background: #22aed1;
}

.menu-i {
  padding-right: 15px;
  font-size: 22px;
  position: relative;
  bottom: -5px;
}

.contentPage {
  margin-top: 25px;
  margin-left: 45px;
  margin-right: 45px;
}

.basic-btn {
  background-color: #0379be;
  color: white;
  border: none;
  -webkit-box-shadow: 1px 2px 4px 0px #4a4a4a;
          box-shadow: 1px 2px 4px 0px #4a4a4a;
  color: white !important;
  text-transform: uppercase;
}

.inputForm {
  border: 2px solid #abb1b8;
  margin-top: 20px;
  padding: 25px;
  border-radius: 20px;
  background-color: white;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -270px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #content,
  .content-heading {
    min-width: 100%;
  }

  .contentPage {
    margin: 0 0 0 20px;
  }

  .submit-btn {
    float: left;
  }
}

