.datatable table {
  width: 100%;
  margin-top: 20px;
  border: none !important;
}

.datatable table thead td {
  border: none !important;
}

.datatable table thead td:last-child {
  text-align: center;
}

.datatable table tbody {
  background-color: white;
  color: black;
}

.datatable table tbody td {
  border: none !important;
  border-bottom: 1px solid #abb1b8 !important;
}

.datatable table tbody td:last-child {
  text-align: center;
}

.datatable .action {
  color: #666666;
}

.datatable .action:hover {
  color: #949292;
}

.createPage h3,
.createPage h5 {
  color: #000;
}

.createPage h3 {
  font-weight: 700;
}

.createPage h5 {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 300;
}

.createPage h4 {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
}

.createPage input {
  border-radius: 5px;
  border: 2px solid #cccccc;
  padding: 5px 10px;
}

.createPage textarea {
  border: none;
}

.submit-btn {
  float: right;
}

.createBusPage input {
  width: 100%;
}

