.loginPage {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url("/imgs/login_bg.png");
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url("/imgs/login_bg.png");
  background-repeat: no-repeat;
  background-position: center 95%;
  background-size: cover;
  height: 100vh;
}

.loginPage .panel {
  margin-top: 100px;
}

