.routeManagerPage table {
  width: 90%;
  margin-top: 20px;
  text-align: center;
  border: none !important;
}

.routeManagerPage table thead {
  background-color: #0379be;
  color: white;
}

.routeManagerPage table thead td {
  border: none !important;
}

.routeManagerPage table tbody {
  background-color: white;
  color: black;
}

.routeManagerPage table tbody td {
  border: none !important;
  border-bottom: 1px solid #abb1b8 !important;
}

.routeManagerPage .action {
  color: #666666;
}

.routeManagerPage .action:hover {
  color: #949292;
}

.routeManagerPage .dataTables_wrapper .dataTables_paginate .paginate_button {
  border-radius: 5px !important;
  padding: 3px;
  border: none;
}

.routeManagerPage .dataTables_wrapper .dataTables_paginate .paginate_button .current {
  background-color: blue !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background-color: blue !important;
}

.createRoutePage h3,
.createRoutePage h5 {
  color: #000;
  font-weight: 300;
}

.createRoutePage h5 {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.createRoutePage input,
.createRoutePage textarea {
  border-radius: 5px;
  border: 2px solid #cccccc;
  padding: 5px 10px;
}

.createRoutePage .route_name input,
.createRoutePage .route_desc input {
  width: 100%;
}

.createRoutePage .route_name textarea,
.createRoutePage .route_desc textarea {
  width: 100%;
}

.createRoutePage #ID_input {
  width: 15%;
}

.createRoutePage .bus_stop_input {
  border: 2px solid #cccccc;
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 5px;
}

.createRoutePage .bus_stop_input label {
  color: black;
  margin: 0 5px;
}

.createRoutePage .reset-btn {
  position: absolute;
  top: 40px;
  right: 25px;
  background-color: #CD3331FF;
  color: #fff;
  border-radius: 3px;
  padding: 5px 10px;
  text-decoration: none;
}

