@import '../layouts/datatable';
@import '../layouts/createPage';

.ReservationManagerPage{
}

.createReservationPage{
    input, textarea{
        width: 100%;
        color: #000;
    }

    textarea{
        border-radius: 5px;
        border: 2px solid #cccccc;
        padding: 5px 10px;
    }

    .approve-btn{
        background-color: #38C14F;
    }

    .done-btn{
        background-color: #686868;
    }
}