@import '../layouts/createPage';
.routeManagerPage{
    table{
        width: 100%;
        margin-top: 20px;
        border: none !important;
        thead{
            td{
                border: none !important;
                &:last-child{
                    text-align: center;
                }
            }
        }
        tbody{
            background-color: white;
            color: black;
            td{
                border: none !important;
                border-bottom: 1px solid #abb1b8 !important;
                &:last-child{
                    text-align: center;
                }
            }
        }
    }
    .action{
        color: #666666;
        &:hover{
            color: #949292;
        }
    }
    
    .dataTables_wrapper .dataTables_paginate .paginate_button{
        border-radius: 5px !important;
        padding: 3px;
        border: none;
        .current{
            background-color: blue !important;
        }
    }
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current
{
    background-color: blue !important;
}
.createRoutePage{
    .route_name, .route_desc{
        input{
            width: 100%;
        }
        textarea{
            width: 100%;
        }
    }
    #ID_input{
        width: 15%;
    }
    .bus_stop_input{
        border: 2px solid #cccccc;
        background-color: #f2f2f2;
        padding: 5px 10px;
        border-radius: 5px;
        label{
            color: black;
            margin: 0 5px;
        }
    }
    .reset-btn{
        position: absolute;
        top: 40px;
        right: 25px;
        background-color: #CD3331FF;
        color: #fff;
        border-radius: 3px;
        padding: 5px 10px;
        text-decoration: none;
    }
}