body{
   font-family: Roboto;
}

.wrapper {
   display: flex;
   align-items: stretch;
}

#sidebar {
   min-width: 270px;
   max-width: 270px;
   min-height: 100vh;
   background: #4e4a59;
   color: #fff;
   transition: all 0.3s;

   ul li > a{
      color: white;
   }
}

.sidebar-bg{
   width: 100%;
   min-height: 150px;
   background: linear-gradient( rgba(0,0,0,0.5)), url('/imgs/sidebar-bg.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

#sidebar.active {
   margin-left: -270px;
}

a[data-toggle="collapse"] {
   position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
   content: '\e259';
   display: block;
   position: absolute;
   right: -178px;
   font-family: 'Glyphicons Halflings';
   font-size: 0.8em;
}

a[aria-expanded="true"]::before {
   content: '\e260';
}

@media (max-width: 768px) {
   #sidebar {
     margin-left: -270px;
  }
  #sidebar.active {
     margin-left: 0;
  }
  #content, .content-heading{
   min-width: 100%;
}
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
   color: #fff;
}

#content{
   transition: all 0.3s;
   width: 100%;
   overflow: hidden;
}

.content-heading{
   background-color: #0379be;
   width: 100%;
}

.menu-btn{
   border: 0;
   color: white !important; 
   background-color: transparent;
   outline: none;
   margin: 10px 5px 10px 0px;
   font-size: larger;
   outline: 0 !important; 
}

.desktop_profile{
   color: #fff;
   margin-top: 10px;
   & > li > a{
      color: #fff;
   }
   &:hover{
      background-color: transparent !important;
   }
   border-left: 1px solid #f4f4f4;
}

.nav > li > a { background-color: transparent !important; }

.components{
   margin-top: 30px;
   font-weight: 500;
   font-size: 16px;
   & > li{
      padding: 3px 5px 0px 20px;
   }
   & > li > a{
      color: #3e8ab7 !important;
      text-decoration: none;
   }
   & > .active {
      background: #22aed1;
      padding-top: 10px;
      padding-bottom: 10px;
      & > *{
         color: #10505f !important;
      }
   }
}

.menu-i{
   padding-right: 15px;
   font-size: 22px;
   position: relative;
   bottom: -5px;
}